# Created by .ignore support plugin (hsz.mobi)
.idea/
.vscode
build/
build-server/
node_modules/
*.iml
package-lock.json
test-reports/
target/
.gradle

*.tgz
.DS_Store

*.zip
/.project
npm-debug.log

shots/*

*.log
/reports/*

# Prettier config - remove when more people use the tool
.prettierrc.yml

src/**/*.css
!src/css/custom_mdb.css
coverage/
.nyc_output/
jestCoverage/

src/main/resources/kjv.txt